
body{
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right:0;
    overflow: hidden;
    background-color: #ffffff;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(29, 29, 29);
    text-align: center;
    padding: 11px 50px;
    text-decoration: none;
  }

  .active {
    background-color: #04AA6D;
  }
  
  li a:hover {
    background-color: #cafbff;
  }
