
body{
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(113, 194, 231) 3%, rgb(154, 194, 235) 38%, rgb(146, 219, 214) 68%, rgb(136, 197, 255) 98%);
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 20s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.floating { 
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 60px;
    background-image: linear-gradient(-20deg, #cfd6d5 0%, #afe7df 100%);
   /* background-color: rgb(247, 238, 245);*/
    height: 510px;
    width: 770px;
    border-radius: 20px;
    box-shadow: 50px;
}

.start{
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 510px;
    width: 450px;
    background-image: linear-gradient(-20deg, #ccd4d3 0%, #afe7df 100%);
    /*background-color: rgb(247, 238, 245);*/
    border-radius: 20px;
    overflow: hidden;
}

.container {
    overflow: hidden; 
    padding-top: 20px;
  }
  
  .floating, .start {
    float: left; 
    box-sizing:border-box;
    margin-right: 30px;
}

.Startsub{
    padding-left: 30px;
    padding-top: 30px;
    font-family: serif;
    font-weight: bold;
    font-size: 30px;
}

.startsub1{
    text-align: justify;
    font-family: serif;
    padding-left: 30px;
    padding-right: 25px;
    font-size: 20px;
}
  
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -1px); }   
}

@keyframes start {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -1px); }   
}
.welcome{
    padding-left: 50px;
    padding-top: 20px;
    font-family: serif;
    font-weight: bolder;
    font-size: 45px;
}

.signup{
    background-color: rgb(57, 69, 238);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.signup:hover{
    opacity: 0.8;
}

.subtext{
    padding-left: 50px;
    padding-top: 0px;
    font-family: serif;
    font-weight: bold;
    font-size: 22px;
}

.sub{
    padding-left: 50px;
    padding-top: 0px;
    font-family: serif;
    font-weight: bold;
    font-size: 22px;
    width: 56ch;
    animation: typing 5s steps(50), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-right:0;
    padding-top: 15px;
    overflow: hidden;
    background-color:none;
    position: sticky;
    top: 0;
    font-weight: bold;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(29, 29, 29);
    text-align: center;
    padding: 11px 50px;
    text-decoration: none;
  }

  li a:hover{
    color: rgb(255, 255, 255);
  }
